* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vend Sans", sans-serif;
    user-select: none;
}

html,
body {
    cursor: none;
    height: 100vh;
    width: 100vw;
    background-image: url(./public/img/fine-weather-landscape-iq9k6ubn8w9yhhkc.jpg);
    background-size: cover;
    background-position: center;
}
.cursor {
        position: fixed;
        z-index: 9999;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color:rgb(32, 58, 31) ;
        transition: transform 0.1s ease-out;
    }

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .searchbar {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            form {
                margin: 10px 30px;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(255, 255, 255);
                padding: 5px 15px;
                border-radius: 50px;

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    margin-right: 10px;
                    background-color: transparent;
                    font-size: 16px;
                    color: white;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: rgb(202, 202, 202);
                    }
                }

                button {
                    border: none !important;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    width: fit-content;
                    background-color: white;
                    padding: 7px 15px;
                    margin-right: -5px;
                    border-radius: 50px;
                    transition: all 0.2s ease-in-out;
                    border: none;

                    i {
                        color: rgb(0, 0, 0);
                    }

                    &:hover {
                        .searchbtn {
                            scale: 1.2;
                        }
                    }
                }
            }
        }
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 80vh;

            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.103);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7.3px);
            -webkit-backdrop-filter: blur(7.3px);
            border: 1px solid rgba(255, 255, 255, 0.3);

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    margin: 10px 0;
                    color: white;
                }

                div {

                    p {
                        color: white;
                    }
                }
            }

            .content {
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: white;
                gap: 20px;

                .data {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .seperator {
                    width: 100%;
                    padding: 2px;
                    background-color: rgb(255, 255, 255);
                    margin: 10px 0;
                }
            }
        }
    }
}

@media (min-width: 650px) {
    .card {
        gap: 40px;
    }

    .title {
        scale: 1.3;
    }

    .content {
        scale: 1.3;
        flex-direction: row !important;

        .data {
            h1 {
                font-weight: 700;
            }

            p {
                font-size: 14px;
            }
        }

        .seperator {
            height: 100%;
            width: 2px !important;
        }
    }
}